.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3em;
}

.icon-sm {
    width: 0.875em;
    height: 0.875em;
}

.icon-md {
    width: 1.25em;
    height: 1.25em;
}

.icon-lg {
    width: 1.5em;
    height: 1.5em;
}